@model List<ArticleModel>

<h2>Articles</h2>
@if ((bool?)ViewData["IsAdmin"] == true)
{
    <div class="row">
        <a asp-action="Aggregate" asp-controller="Article" class="col-12  col-lg-4 btn btn-danger">Aggregate</a>
    </div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
}
@if (User.Identity.IsAuthenticated)
{
    <div>
        <a href="@Url.Action("SortByPositivity", new { sortByPositive = true })" class="btn btn-primary">Sort by Positive</a>
        <a href="@Url.Action("SortByPositivity", new { sortByPositive = false })" class="btn btn-secondary">Sort by Negative</a>
        <a href="@Url.Action("SortByDate", new{sortByNewest = true})" class="btn btn-primary bg-orange">Sort by Newest</a>
        <a href="@Url.Action("SortByDate", new{sortByNewest = false})" class="btn btn-secondary bg-gradient" >Sort by Oldest</a>
        
    </div>
}



@if (Model !=null )
{
    foreach (var article in Model)
    {
        await Html.RenderPartialAsync("_ArticlePreview", article, new ViewDataDictionary(ViewData));
    }
}